{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div class="container-fluid">
        {% for category in categories %}
                    <div class="row" style="margin-left: 10%;">
                        <h2>{{category.name}}</h2>
                        {% for image in images %}
                        {% if category.name == image.category.name %}
                        <div class="col-sm-4 col-md-2" id="polaroid2">
                            <img src="{{image.image.url}}" class="img-fluid" class="btn" data-target="#{{image.name}}"
                                data-toggle="modal" id="menu">
                            <h3 style="text-align: center;padding-top:5%;">{{image.name}}</h3>
                        </div>
                        {% endif %}
                    </div>
                        <div class="modal fade" id="{{image.name}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-6 col-md-7">
                            <img src="{{image.image.url}}" class="img-fluid" id="modal">
                        </div>
                        <div class="col-sm-6 col-md-5" style="margin-top:30%;font-size:20px;">
                            <ul style="width:100%; list-style-type:none; text-align: left; color:white;background-color:rgb(0,0,0,0.6)">
                                <li>name: {{image.name}}</li>
                                <li>description: {{image.description}}</li>
                                <li>category: {{image.category.name}}</li>
                                <li>uploaded: {{image.upload_date}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        {% endfor %}
        {% endfor %}
</body>
</html>
{% endblock %}