body {
  font-family: 'Quicksand', sans-serif;
}

.nav-pills>li>a{
  background:none;
  color: white;
  font-size:20px;
}

.nav-pills>li>a:hover {
    background:none;
    color:white;
}

.nav {
  padding-top: 2px;
  margin-bottom:0;
  background-image: linear-gradient(to right, pink , purple,pink );
  color: white;
  background-color: rgb(0,0,0,0.5);
}

a:hover {
  color:purple;
}

#polaroid {
  margin:1%;
  background-color: white;
  border:solid 1px grey;
  padding-left:1%;
  padding-right:1%;
  padding-top:1%;
  padding-bottom:5%;
  height:460px;
}

#polaroid2 {
  margin:1%;
  background-color: white;
  border:solid 1px grey;
  padding-left:1%;
  padding-right:1%;
  padding-top:1%;
  padding-bottom:5%;
  
}

#categories {
  margin-top: 100px;
}

#menu {
  border:solid 1px grey;
  height:200px;
  width: 200px;
}

#gallery {
  border:solid 1px grey;
  height:400px;
  width: 360px;
}

#modal {
  height:500px;
  width: 400px;
}

.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: solid #aa4684; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto;
  width:100%;
  animation: typing 24s steps(18, end),     blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #aa4684; }
}

.blink_me {
  animation: blinker 3s linear infinite;
  color: pink;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.blink_us {
  animation: blinker 5s linear infinite;
  color: pink;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

#landing {
  background-image: url('https://flipwallpapers.com/wallpapers/cute-background-hd-For-desktop-Wallpaper.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

  